<div class="container">
  <p class="title">Change password for <br /> @<span style="text-decoration: underline;">{{username}}</span>
  </p>
  <div class="c2">
    <form class="signup" action="{{link}}" method="POST">
      <input name="password" type="password" placeholder="Password*" class="input" autocomplete="off">
      <input name="confirmPassword" type="password" placeholder="Confirm Password*" class="input" autocomplete="off">
      <p>Make sure it's at least 8 characters including a number and a lowercase letter</p>
      <input type="submit" class="btn" value="Change password" />
    </form>
  </div>
</div>