<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Apollo-server</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <style>
    body {
      background-color: #F9F9F9;
      font-family: 'Roboto';
      display: flex;
      height: 90vh;
      justify-content: center;
      align-items: center;
    }

    :-moz-placeholder,
    :-ms-input-placeholder,
    ::-webkit-input-placeholder,
    ::-moz-placeholder {
      color: #748194;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container .title {
      line-height: 2rem;
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
    }

    .c2 {
      background-color: white;
      width: 300px;
      border-radius: 15px;
      padding: 40px 0px 20px 0px;
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 1px .6px 6px rgba(228, 228, 228, 0.89);
    }

    .input {
      font-weight: bold;
      width: 200px;
      margin: 0 35px 20px;
      height: 35px;
      padding: 6px 15px;
      border-radius: 5px;
      outline: none;
      border: none;
      background: #F6F7F9;
      color: #748194;
      font-size: 14px;
    }

    .btn {
      font-weight: bold;
      width: 230px;
      margin: 10px 35px 20px;
      height: 45px;
      padding: 6px 15px;
      border-radius: 5px;
      outline: none;
      border: none;
      background: rgb(255, 112, 126);
      color: white;
      font-size: 14px;
      cursor: pointer;
    }

    .signup p {
      text-align: start;
      margin: 10px 36px;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }
  </style>
</head>

<body>

  {{{body}}}

</body>

</html>